version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.managed-node
    container_name: web
    hostname: web
    ports:
      - "2221:22"
      - "8080:80"
    networks:
      - ansible-net
  
  app: 
    build:
      context: .
      dockerfile: Dockerfile.managed-node
    container_name: web
    hostname: web
    ports:
      - "2222:22"
    networks:
      - ansible-net

  db: 
    build:
      context: .
      dockerfile: Dockerfile.managed-node
    container_name: web
    hostname: web
    ports:
      - "2223:22"
    networks:
      - ansible-net

networks:
  ansible-net:
    driver: bridge
      